@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    background-color: #1E1E30 !important;
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.MuiTableCell-root {
    z-index: 0 !important;
}

.MuiToolbar-root {
    position: relative;
    margin-top: 30px;
}

.MuiTablePagination-displayedRows {
    position: absolute;
    left: 45px;
    margin-bottom: 0;
}

.MuiTablePagination-actions {
    position: absolute;
    left: 0;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-left: 0  !important;
}

.MuiButtonBase-root {
    padding: 0 !important;
    background-image: url("/src/Image/icon/left.svg");
    border-radius: 0 !important;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    color: #FCDDEC !important;
}

.MuiSelect-select {
    position: absolute;
    right: -30px;
    background-color: #fff !important;
    color: #00072B !important;
    width: 60px !important;
    padding: 6px 16px !important;
}

.MuiMenuItem-gutters {
    background-image: none;
    color: #00072B !important;
    width: auto;
    height: auto;
    padding: 6px 16px !important;
}

.MuiTablePagination-selectLabel {
    margin-bottom: 0;
    position: absolute;
    right: 70px;
}

.swal2-confirm {
    height: 34px !important;
}

.swal2-styled {
    padding: 0 20px !important;
}

.swal2-cancel {
    color: rgba(189, 189, 189, 1) !important;
    border: 2px solid rgba(189, 189, 189, 1) !important;
    height: 34px !important;
}

* {
    box-sizing: border-box !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #C74FEB;
}

::-webkit-scrollbar-thumb:hover {
    background: #bc32e6;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .right-sidebar {
        width: 100% !important;
    }

    .mobile-add-btn, .admin-name {
        display: none;
    }

    .content.is-open {
        margin-left: 100%;
    }

    .sidebar {
        display: block !important;
    }

    .sidebar.is-open {
        min-width: calc(100% - 64px);
        max-width: calc(100% - 64px);
        margin-left: 0;
        transition: all 0.5s, height 0s;
    }

    .sidebar.is-open > .sidebar-header span {
        display: unset;
        margin-top: 2px;
    }

    .side-footer {
        margin-top: 50px !important;
    }

    li a.dropdown-toggle::after {
        display: inline-block;
        position: relative;
        left: 68%;
    }

    .sidebar-btn {
        display: inline !important;
    }
}

@media only screen and (max-width: 428px) {
    .MuiTablePagination-displayedRows {
        left: 50px;
        font-size: 10px !important;
    }
    
    .MuiTablePagination-actions {
        width: 150px;
        transform: scale(.7);
    }
    
    .MuiSelect-select {
        width: 35px !important;
        padding: 4px 12px !important;
        font-size: 10px !important;
    }
    
    .MuiMenuItem-gutters {
        padding: 0 0 0 10px !important;
        font-size: 10px !important;
    }
    
    .MuiTablePagination-selectLabel {
        right: 46px;
        font-size: 10px !important;
    }
}
